<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="Ducati"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="XDiavel"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="20790€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Motor</ion-label>
    <ion-input floating [(ngModel)]="motor" text-right clearInput type="string" placeholder="Testastretta 11° DS"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Combustible</ion-label>
    <ion-input floating [(ngModel)]="combustible" text-right clearInput type="string" placeholder="Gasolina, eléctrico..."></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cambio</ion-label>
    <ion-input floating [(ngModel)]="cambio" text-right clearInput type="string" placeholder="Manual, automático.."></ion-input>
</ion-item>
<ion-item>
    <ion-label>Velocidades</ion-label>
    <ion-input floating [(ngModel)]="velocidades" text-right clearInput type="string" placeholder="6"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Kilometraje</ion-label>
    <ion-input floating [(ngModel)]="km" text-right clearInput type="string" placeholder="0 km"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Plazas</ion-label>
    <ion-input floating [(ngModel)]="plazas" text-right clearInput type="string" placeholder="2"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Consumo/Autonomía</ion-label>
    <ion-input floating [(ngModel)]="consumo" text-right clearInput type="string" placeholder="6.0 L/100 km"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Potencia</ion-label>
    <ion-input floating [(ngModel)]="potencia" text-right clearInput type="string" placeholder="152 CV"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cilindrada</ion-label>
    <ion-input floating [(ngModel)]="cilindrada" text-right clearInput type="string" placeholder="1262 cc"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cilindros</ion-label>
    <ion-input floating [(ngModel)]="cilindros" text-right clearInput type="string" placeholder="2"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas(Altura asiento/Distancia ejes)</ion-label>
    <ion-input floating [(ngModel)]="medidas" text-right clearInput type="string" placeholder="755x1615"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Peso</ion-label>
    <ion-input floating [(ngModel)]="peso" text-right clearInput type="string" placeholder="220kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Extras</ion-label>
    <ion-input floating [(ngModel)]="extras" text-right clearInput type="string" placeholder="ABS"></ion-input>
</ion-item>