<ion-row>
    <ion-col col-4 *ngIf="listaIzq.length !== 0">
            <ion-label class="title">Elementos</ion-label>
            <ion-label>Marca: </ion-label>
            <ion-label>Modelo: </ion-label>
            <ion-label>Precio: </ion-label>
            <ion-label>Motor: </ion-label>
            <ion-label>Energía: </ion-label>
            <ion-label>Cambio: </ion-label>
            <ion-label>Velocidades: </ion-label>
            <ion-label>kilometraje: </ion-label>
            <ion-label>Plazas: </ion-label>
            <ion-label>Consumo: </ion-label>
            <ion-label>Potencia: </ion-label>
            <ion-label>Cilindrada: </ion-label>
            <ion-label>Cilindros: </ion-label>
            <ion-label>Medidas: </ion-label>
            <ion-label>Peso: </ion-label>
            <ion-label>Extras: </ion-label>
    </ion-col>
    <ion-col col-4 *ngIf="listaIzq.length !== 0">
            <ion-label class="title">{{ listaIzq[0].marca? listaIzq[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].marca? listaIzq[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].modelo? listaIzq[0].modelo : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].precio? listaIzq[0].precio : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].motor? listaIzq[0].motor : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].combustible? listaIzq[0].combustible : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].cambio? listaIzq[0].cambio : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].velocidades? listaIzq[0].velocidades : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].km? listaIzq[0].km : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].plazas? listaIzq[0].plazas : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].consumo? listaIzq[0].consumo : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].potencia? listaIzq[0].potencia : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].cilindrada? listaIzq[0].cilindrada : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].cilindros? listaIzq[0].cilindros : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].medidas? listaIzq[0].medidas : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].peso? listaIzq[0].peso : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].extras? listaIzq[0].extras : 'X' }}</ion-label>
    </ion-col>


    <ion-col col-4 *ngIf="listaDrcha.length !== 0">
            <ion-label class="title">{{ listaDrcha[0].marca? listaDrcha[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].marca? listaDrcha[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].modelo? listaDrcha[0].modelo : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].precio? listaDrcha[0].precio : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].motor? listaDrcha[0].motor : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].combustible? listaDrcha[0].combustible : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].cambio? listaDrcha[0].cambio : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].velocidades? listaDrcha[0].velocidades : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].km? listaDrcha[0].km : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].plazas? listaDrcha[0].plazas : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].consumo? listaDrcha[0].consumo : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].potencia? listaDrcha[0].potencia : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].cilindrada? listaDrcha[0].cilindrada : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].cilindros? listaDrcha[0].cilindros : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].medidas? listaDrcha[0].medidas : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].peso? listaDrcha[0].peso : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].extras? listaDrcha[0].extras : 'X' }}</ion-label>
    </ion-col>
</ion-row>