<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="ASUS"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="Gaming/Pc/Portatil"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="790€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Sistema Operativo</ion-label>
    <ion-input floating [(ngModel)]="SO" text-right clearInput type="string" placeholder="Windows/MacOS"></ion-input>
</ion-item>
<ion-item>
    <ion-label>RAM</ion-label>
    <ion-input floating [(ngModel)]="RAM" text-right clearInput type="string" placeholder="8GB"></ion-input>
</ion-item>
<ion-item>
    <ion-label>ROM</ion-label>
    <ion-input floating [(ngModel)]="ROM" text-right clearInput type="string" placeholder="512GB SSD"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Procesador</ion-label>
    <ion-input floating [(ngModel)]="procesador" text-right clearInput type="string" placeholder="Intel I5"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Gráfica</ion-label>
    <ion-input floating [(ngModel)]="grafica" text-right clearInput type="string" placeholder="2 GB"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Nº usb2.0</ion-label>
    <ion-input floating [(ngModel)]="usb2" text-right clearInput type="string" placeholder="2"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Nº usb3.0</ion-label>
    <ion-input floating [(ngModel)]="usb3" text-right clearInput type="string" placeholder="1"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Nº usb C</ion-label>
    <ion-input floating [(ngModel)]="usbc" text-right clearInput type="string" placeholder="1"></ion-input>
</ion-item>
<ion-item>
    <ion-label>DVD</ion-label>
    <ion-input floating [(ngModel)]="dvd" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Ethernet</ion-label>
    <ion-input floating [(ngModel)]="ethernet" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Audio</ion-label>
    <ion-input floating [(ngModel)]="audio" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Video</ion-label>
    <ion-input floating [(ngModel)]="video" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Peso</ion-label>
    <ion-input floating [(ngModel)]="peso" text-right clearInput type="string" placeholder="2kg"></ion-input>
</ion-item>