<ion-row>
    <ion-col col-4 *ngIf="listaIzq.length !== 0" class="left">
        <ion-card>
            <ion-card-header>
                Elementos
            </ion-card-header>
            <ion-card-content>
                <ion-label>Marca: </ion-label>
                <ion-label>Modelo: </ion-label>
                <ion-label>Precio: </ion-label>
                <ion-label>Motor: </ion-label>
                <ion-label>Combustible: </ion-label>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col col-5 *ngIf="listaIzq.length !== 0" class="center">
        <ion-card>
            <ion-card-header>
            Nombre item
            </ion-card-header>
            <ion-card-content>
                <ion-label>{{ listaIzq[0].marca? listaIzq[0].marca : 'X' }}</ion-label>
                <ion-label>{{ listaIzq[0].modelo? listaIzq[0].modelo : 'X' }}</ion-label>
                <ion-label>{{ listaIzq[0].precio? listaIzq[0].precio : 'X' }}</ion-label>
                <ion-label>{{ listaIzq[0].motor? listaIzq[0].motor : 'X' }}</ion-label>
                <ion-label>{{ listaIzq[0].combustible? listaIzq[0].combustible : 'X' }}</ion-label>
            </ion-card-content>
        </ion-card>
    </ion-col>


    <ion-col col-5 class="right"  *ngIf="listaDrcha.length !== 0" class="right">
        <ion-card>
            <ion-card-header>
            Nombre item
            </ion-card-header>
            <ion-card-content>{{ listaDrcha | json }}</ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>