<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="Balay"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="3TS986XP"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="599€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Velocidad</ion-label>
    <ion-input Clas [(ngModel)]="velocidad" text-right clearInput type="string" placeholder="1200rpm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Clasif. energía</ion-label>
    <ion-input floating [(ngModel)]="clasfEnergia" text-right clearInput type="string" placeholder="A+++"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tipo carga</ion-label>
    <ion-input floating [(ngModel)]="tipoCarga" text-right clearInput type="string" placeholder="Carga frontal"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cap tambor</ion-label>
    <ion-input floating [(ngModel)]="capTambor" text-right clearInput type="string" placeholder="58 litros"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cap carga</ion-label>
    <ion-input floating [(ngModel)]="capCarga" text-right clearInput type="string" placeholder="8 kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas</ion-label>
    <ion-input floating [(ngModel)]="medidas" text-right clearInput type="string" placeholder="59.8 x 84.8 x 55 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Consumo agua</ion-label>
    <ion-input floating [(ngModel)]="consumoAgua" text-right clearInput type="string" placeholder="9680 litros"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Consumo energía</ion-label>
    <ion-input floating [(ngModel)]="consumoEnergia" text-right clearInput type="string" placeholder="135 KWh/año"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Frecuencia</ion-label>
    <ion-input floating [(ngModel)]="frecuencia" text-right clearInput type="string" placeholder="50 Hz"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Extra</ion-label>
    <ion-input floating [(ngModel)]="extra" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>