<ion-row *ngIf="catSeleccionada === 'VEHICULOS'">
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoIzq" (ionChange)="itemSelectedIzq(itemSeleccionadoIzq)" interface="popover" placeholder="Select One">
                <ion-option *ngFor="let dato of listaService.listaCoche" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <ion-option *ngFor="let dato of listaService.listaMoto" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
            </ion-select>
        </ion-card>
    </ion-col>
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" (ionChange)="itemSelectedDrcha(itemSeleccionadoDrcha)" interface="popover" placeholder="Select One">
                <ng-container *ngFor="let dato of listaService.listaCoche">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'COCHE'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <ng-container *ngFor="let dato of listaService.listaMoto">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'MOTO'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row>
<!-- <ion-row *ngIf="catSeleccionada === 'ELECTRODOMESTICOS'">
    <ion-col>
        <ion-card>
        <ion-select [(ngModel)]="itemSeleccionadoIzq" interface="popover" placeholder="Select One">
            <ion-option *ngFor="let dato of datosCategoria">{{ dato.toUpperCase() }}</ion-option>
        </ion-select>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" interface="popover" placeholder="Select One">
            <ion-option *ngFor="let dato of datosCategoria">{{ dato.toUpperCase() }}</ion-option>
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row>
<ion-row *ngIf="catSeleccionada === 'ELECTRONICA'">
    <ion-col>
        <ion-card>
        <ion-select [(ngModel)]="itemSeleccionadoIzq" interface="popover" placeholder="Select One">
            <ion-option *ngFor="let dato of datosCategoria">{{ dato.toUpperCase() }}</ion-option>
        </ion-select>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" interface="popover" placeholder="Select One">
            <ion-option *ngFor="let dato of datosCategoria">{{ dato.toUpperCase() }}</ion-option>
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row> -->
<page-compare-item-coches *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'COCHE'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-coches>