<ion-row *ngIf="catSeleccionada === 'VEHICULOS'">
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoIzq" (ionChange)="itemSelectedIzq(itemSeleccionadoIzq)" interface="popover" placeholder="Select One">
                <ion-option *ngFor="let dato of listaService.listaCoche" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <ion-option *ngFor="let dato of listaService.listaMoto" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
            </ion-select>
        </ion-card>
    </ion-col>
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" (ionChange)="itemSelectedDrcha(itemSeleccionadoDrcha)" interface="popover" placeholder="Select One">
                <ng-container *ngFor="let dato of listaService.listaCoche">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'COCHE'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <ng-container *ngFor="let dato of listaService.listaMoto">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'MOTO'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row>

<ion-row *ngIf="catSeleccionada === 'ELECTRODOMESTICOS'">
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoIzq" (ionChange)="itemSelectedIzq(itemSeleccionadoIzq)" interface="popover" placeholder="Select One">
                <ion-option *ngFor="let dato of listaService.listaLavadora" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <ion-option *ngFor="let dato of listaService.listaFrigo" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <ion-option *ngFor="let dato of listaService.listaLavavajillas" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <ion-option *ngFor="let dato of listaService.listaSecadora" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
            </ion-select>
        </ion-card>
    </ion-col>
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" (ionChange)="itemSelectedDrcha(itemSeleccionadoDrcha)" interface="popover" placeholder="Select One">
                <ng-container *ngFor="let dato of listaService.listaLavadora">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'LAVADORA'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <ng-container *ngFor="let dato of listaService.listaFrigo">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'FRIGORÍFICOS'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <ng-container *ngFor="let dato of listaService.listaLavavajillas">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'LAVAVAJILLAS'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <ng-container *ngFor="let dato of listaService.listaSecadora">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'SECADORAS'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row>

<ion-row *ngIf="catSeleccionada === 'ELECTRONICA'">
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoIzq" (ionChange)="itemSelectedIzq(itemSeleccionadoIzq)" interface="popover" placeholder="Select One">
                <ion-option *ngFor="let dato of listaService.listaPC" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                <!-- <ion-option *ngFor="let dato of listaService.listaMoto" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option> -->
            </ion-select>
        </ion-card>
    </ion-col>
    <ion-col col-6>
        <ion-card>
            <ion-select [(ngModel)]="itemSeleccionadoDrcha" (ionChange)="itemSelectedDrcha(itemSeleccionadoDrcha)" interface="popover" placeholder="Select One">
                <ng-container *ngFor="let dato of listaService.listaPC">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'PC'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container>
                <!-- <ng-container *ngFor="let dato of listaService.listaMoto">
                    <ion-option *ngIf="listaIzq.length !== 0 && listaIzq[0].subcategoria === 'MOTO'" value="{{ dato | json }}">{{ dato.marca }} {{ dato.modelo }}</ion-option>
                </ng-container> -->
            </ion-select>
        </ion-card>
    </ion-col>
</ion-row>

<!-- VEHÍCULOS -->
<page-compare-item-coches *ngIf="listaIzq.length !== 0 && catSeleccionada === 'VEHICULOS' && listaIzq[0].subcategoria === 'COCHE'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-coches>
<page-compare-item-motos *ngIf="listaIzq.length !== 0 && catSeleccionada === 'VEHICULOS' && listaIzq[0].subcategoria === 'MOTO'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-motos>

<!-- ELECTRODOMÉSTICOS -->
<page-compare-item-lavadora *ngIf="listaIzq.length !== 0 && catSeleccionada === 'ELECTRODOMESTICOS' && listaIzq[0].subcategoria === 'LAVADORA'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-lavadora>
<page-compare-item-frigo *ngIf="listaIzq.length !== 0 && catSeleccionada === 'ELECTRODOMESTICOS' && listaIzq[0].subcategoria === 'FRIGORÍFICOS'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-frigo>
<page-compare-item-lavavajillas *ngIf="listaIzq.length !== 0 && catSeleccionada === 'ELECTRODOMESTICOS' && listaIzq[0].subcategoria === 'LAVAVAJILLAS'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-lavavajillas>
<page-compare-item-secadora *ngIf="listaIzq.length !== 0 && catSeleccionada === 'ELECTRODOMESTICOS' && listaIzq[0].subcategoria === 'SECADORAS'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-secadora>

<!-- ELECTRÓNICA -->
<page-compare-item-pc *ngIf="listaIzq.length !== 0 && catSeleccionada === 'ELECTRONICA' && listaIzq[0].subcategoria === 'PC'" [listaIzq]="listaIzq" [listaDrcha]="listaDrcha"></page-compare-item-pc>