<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input [(ngModel)]="marca" text-right clearInput type="string" placeholder="Ford"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input [(ngModel)]="modelo" text-right clearInput type="string" placeholder="Focus"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="precio" text-right clearInput type="string" placeholder="15452€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Motor</ion-label>
    <ion-input [(ngModel)]="motor" text-right clearInput type="string" placeholder="1.5 TDCi"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Combustible</ion-label>
    <ion-input [(ngModel)]="combustible" text-right clearInput type="string" placeholder="Gasolina, eléctrico..."></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cambio</ion-label>
    <ion-input [(ngModel)]="cambio" text-right clearInput type="string" placeholder="Manual, automático.."></ion-input>
</ion-item>
<ion-item>
    <ion-label>Velocidades</ion-label>
    <ion-input [(ngModel)]="velocidades" text-right clearInput type="string" placeholder="6"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Kilometraje</ion-label>
    <ion-input [(ngModel)]="km" text-right clearInput type="string" placeholder="0 km"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Puertas</ion-label>
    <ion-input [(ngModel)]="puertas" text-right clearInput type="string" placeholder="5"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Plazas</ion-label>
    <ion-input [(ngModel)]="plazas" text-right clearInput type="string" placeholder="5"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Consumo</ion-label>
    <ion-input [(ngModel)]="consumo" text-right clearInput type="string" placeholder="6.0 L/100 km"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Potencia</ion-label>
    <ion-input [(ngModel)]="potencia" text-right clearInput type="string" placeholder="70 CV"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Cilindros</ion-label>
    <ion-input [(ngModel)]="cilindros" text-right clearInput type="string" placeholder="3"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas(Longitud/Anchura/Altura)</ion-label>
    <ion-input [(ngModel)]="medidas" text-right clearInput type="string" placeholder="438x183x145"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Peso</ion-label>
    <ion-input [(ngModel)]="peso" text-right clearInput type="string" placeholder="300kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tracción</ion-label>
    <ion-input [(ngModel)]="traccion" text-right clearInput type="string" placeholder="4x4"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Extras</ion-label>
    <ion-input [(ngModel)]="extras" text-right clearInput type="string" placeholder="ABS"></ion-input>
</ion-item>