<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="Horno Hisense"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="BI3221AX"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="259€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tipo horno</ion-label>
    <ion-input floating [(ngModel)]="tipoHorno" text-right clearInput type="string" placeholder="Multifunción"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Capacidad</ion-label>
    <ion-input floating [(ngModel)]="capacidad" text-right clearInput type="string" placeholder="71 litros"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas</ion-label>
    <ion-input floating [(ngModel)]="medidas" text-right clearInput type="string" placeholder="59.5 x 59.7 x 54.7 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Bandejas</ion-label>
    <ion-input floating [(ngModel)]="bandejas" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Num bandejas</ion-label>
    <ion-input floating [(ngModel)]="numBandejas" text-right clearInput type="string" placeholder="2"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Autolimpieza</ion-label>
    <ion-input floating [(ngModel)]="autolimpieza" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Limpieza</ion-label>
    <ion-input floating [(ngModel)]="limpieza" text-right clearInput type="string" placeholder="AQUA CLEAN"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Clasif. energía</ion-label>
    <ion-input floating [(ngModel)]="clasfEnergia" text-right clearInput type="string" placeholder="A"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Func. horno</ion-label>
    <ion-input floating [(ngModel)]="functHorno" text-right clearInput type="string" placeholder="9"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Interfaz</ion-label>
    <ion-input floating [(ngModel)]="interfaz" text-right clearInput type="string" placeholder="ICONLED"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Grill</ion-label>
    <ion-input floating [(ngModel)]="grill" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Ventilador</ion-label>
    <ion-input floating [(ngModel)]="ventilador" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Otros</ion-label>
    <ion-input floating [(ngModel)]="otros" text-right clearInput type="string" placeholder="Acabado cristal negro"></ion-input>
</ion-item>