<!-- VEHÍCULOS -->
<ion-item (click)="hiddenVehiculos = !hiddenVehiculos">
    <ion-label text-center><strong>Vehículos</strong></ion-label>
</ion-item>

<!-- COCHE -->
<ion-item *ngIf="hiddenVehiculos" (click)="hiddenCoche = !hiddenCoche">
    <ion-label><strong>Coches</strong><ion-badge color="light" item-end>{{listaService.listaCoche.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenCoche && hiddenVehiculos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaCoche">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- MOTO -->
<ion-item *ngIf="hiddenVehiculos" (click)="hiddenMoto = !hiddenMoto">
    <ion-label><strong>Motos</strong> <ion-badge color="light" item-end>{{listaService.listaMoto.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenMoto && hiddenVehiculos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaMoto">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- ELECTRODOMÉSTICOS -->
<ion-item (click)="hiddenElectrodomesticos = !hiddenElectrodomesticos">
    <ion-label text-center><strong>Electrodomésticos</strong></ion-label>
</ion-item>

<!-- LAVADORA -->
<ion-item *ngIf="hiddenElectrodomesticos" (click)="hiddenLavadora = !hiddenLavadora">
    <ion-label><strong>Lavadora</strong> <ion-badge color="light" item-end>{{listaService.listaLavadora.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenLavadora && hiddenElectrodomesticos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaLavadora">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- FRIGORÍFICO -->
<ion-item *ngIf="hiddenElectrodomesticos" (click)="hiddenFrigo = !hiddenFrigo">
    <ion-label><strong>Frigoríficos</strong> <ion-badge color="light" item-end>{{listaService.listaFrigo.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenFrigo && hiddenElectrodomesticos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaFrigo">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- LAVAVAJILLAS -->
<ion-item *ngIf="hiddenElectrodomesticos" (click)="hiddenLavavajillas = !hiddenLavavajillas">
    <ion-label><strong>Lavavajillas</strong> <ion-badge color="light" item-end>{{listaService.listaLavavajillas.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenLavavajillas && hiddenElectrodomesticos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaLavavajillas">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- SECADORA -->
<ion-item *ngIf="hiddenElectrodomesticos" (click)="hiddenSecadora = !hiddenSecadora">
    <ion-label><strong>Secadoras</strong> <ion-badge color="light" item-end>{{listaService.listaSecadora.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenSecadora && hiddenElectrodomesticos">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaSecadora">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<!-- ELECTRÓNICA -->
<ion-item (click)="hiddenElectronica = !hiddenElectronica">
    <ion-label text-center><strong>Electrónica</strong></ion-label>
</ion-item>

<!-- PC -->
<ion-item *ngIf="hiddenElectronica" (click)="hiddenPC = !hiddenPC">
    <ion-label><strong>PC</strong> <ion-badge color="light" item-end>{{listaService.listaPC.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenPC && hiddenElectronica">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaPC">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
                <button (click)="borrarLista(lista)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>
