<ion-item (click)="hiddenCoche = !hiddenCoche">
    <ion-label text-center><strong>Coches</strong><ion-badge color="light" item-end>{{listaService.listaCoche.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenCoche">
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaCoche">
            <ion-item-options side="rigth">
                <button (click)="editarLista(lista, slidingItem)" icon-only>
                    <ion-icon name="create" color="danger"></ion-icon>
                </button>
            <!-- </ion-item-options>
            <ion-item-options side="rigth"> -->
                <button (click)="borrarLista(lista,null)" icon-only>
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-item-options>

            <ion-item>
                {{ lista.marca }} {{lista.modelo}}
            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>

<ion-item (click)="hiddenMoto = !hiddenMoto">
    <ion-label text-center><strong>Motos</strong> <ion-badge color="light" item-end>{{listaService.listaMoto.length}}</ion-badge></ion-label>
</ion-item>
<div *ngIf="hiddenMoto">
    <ion-item-sliding #slidingItem *ngFor="let lista of listaService.listaMoto">
        <ion-item-options side="rigth">
            <button (click)="editarLista(lista, slidingItem)" icon-only>
                <ion-icon name="create" color="danger"></ion-icon>
            </button>
        <!-- </ion-item-options>
        <ion-item-options side="rigth"> -->
            <button (click)="borrarLista(null,lista)" icon-only>
                <ion-icon name="trash" color="danger"></ion-icon>
            </button>
        </ion-item-options>

        <button ion-item>
            {{ lista.marca }} {{lista.modelo}}
        </button>

    </ion-item-sliding>
</div>