<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="Secadora Bosch"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="WTA73200ES"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="359€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tipo secadora</ion-label>
    <ion-input floating [(ngModel)]="tipoSecadora" text-right clearInput type="string" placeholder="Evacuación"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Peso</ion-label>
    <ion-input floating [(ngModel)]="peso" text-right clearInput type="string" placeholder="33.6 kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas</ion-label>
    <ion-input floating [(ngModel)]="medidas" text-right clearInput type="string" placeholder="84.2 x 59.8 x 60.1 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Capacidad</ion-label>
    <ion-input floating [(ngModel)]="capacidad" text-right clearInput type="string" placeholder="7 kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Potencia</ion-label>
    <ion-input floating [(ngModel)]="potencia" text-right clearInput type="string" placeholder="1000 W"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Clasif. energía</ion-label>
    <ion-input floating [(ngModel)]="clasfEnergia" text-right clearInput type="string" placeholder="C"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Ruido</ion-label>
    <ion-input floating [(ngModel)]="ruido" text-right clearInput type="string" placeholder="65 dB"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Antiarrugas</ion-label>
    <ion-input floating [(ngModel)]="antiarrugas" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Alergias</ion-label>
    <ion-input floating [(ngModel)]="alergias" text-right clearInput type="string" placeholder="No"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Consumo</ion-label>
    <ion-input floating [(ngModel)]="consumo" text-right clearInput type="string" placeholder="504 KWh/Año"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Nº programas</ion-label>
    <ion-input floating [(ngModel)]="numProgramas" text-right clearInput type="string" placeholder="9"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Lana</ion-label>
    <ion-input floating [(ngModel)]="lana" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Camisas</ion-label>
    <ion-input floating [(ngModel)]="camisas" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Temporizado frío</ion-label>
    <ion-input floating [(ngModel)]="tempFrio" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Temporizado caliente</ion-label>
    <ion-input floating [(ngModel)]="tempCaliente" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Otros</ion-label>
    <ion-input floating [(ngModel)]="otros" text-right clearInput type="string" placeholder="Secado delicado, prendas olvidadas..."></ion-input>
</ion-item>