<ion-item>
    <ion-label>Marca</ion-label>
    <ion-input floating [(ngModel)]="marca" required text-right clearInput type="string" placeholder="Microhondas Cecotec Proclean"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input floating [(ngModel)]="modelo" text-right clearInput type="string" placeholder="3040"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Precio</ion-label>
    <ion-input floating [(ngModel)]="precio" text-right clearInput type="string" placeholder="54€"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tipo micro</ion-label>
    <ion-input floating [(ngModel)]="tipoMicro" text-right clearInput type="string" placeholder="Sin Grill"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Capacidad</ion-label>
    <ion-input floating [(ngModel)]="capacidad" text-right clearInput type="string" placeholder="20 litros"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Peso</ion-label>
    <ion-input floating [(ngModel)]="peso" text-right clearInput type="string" placeholder="10 kg"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas externas</ion-label>
    <ion-input floating [(ngModel)]="medidasExter" text-right clearInput type="string" placeholder="43.95 x 25.82 x 33 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Medidas internas</ion-label>
    <ion-input floating [(ngModel)]="medidasInter" text-right clearInput type="string" placeholder="30.6 x 20.82 x 30.66 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Apertura</ion-label>
    <ion-input floating [(ngModel)]="tipoApertura" text-right clearInput type="string" placeholder="Tirador manual"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Diametro plato</ion-label>
    <ion-input floating [(ngModel)]="diamPlato" text-right clearInput type="string" placeholder="25.5 cm"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Plato giratorio</ion-label>
    <ion-input floating [(ngModel)]="platoGira" text-right clearInput type="string" placeholder="Sí"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Color</ion-label>
    <ion-input floating [(ngModel)]="color" text-right clearInput type="string" placeholder="Blanco"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Num potencias</ion-label>
    <ion-input floating [(ngModel)]="numPotencias" text-right clearInput type="string" placeholder="5"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Potencia</ion-label>
    <ion-input floating [(ngModel)]="potencia" text-right clearInput type="string" placeholder="700 W"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Frecuencia</ion-label>
    <ion-input floating [(ngModel)]="frecuencia" text-right clearInput type="string" placeholder="50 Hz"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Tensión</ion-label>
    <ion-input floating [(ngModel)]="tension" text-right clearInput type="string" placeholder="230 V"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Alimentación</ion-label>
    <ion-input floating [(ngModel)]="alimentacion" text-right clearInput type="string" placeholder="Red"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Otros</ion-label>
    <ion-input floating [(ngModel)]="otros" text-right clearInput type="string" placeholder="Temp 35 min"></ion-input>
</ion-item>