
<ion-spinner name="bubbles" *ngIf="this.category === undefined"></ion-spinner>
<ion-item *ngIf="this.category !== undefined">
    <ion-label>Subcategoría</ion-label>
    <ion-select [(ngModel)]="subCatSeleccionada" interface="popover" placeholder="Select One">
        <ion-option *ngFor="let dato of datosSubcategoria">{{ dato.toUpperCase() }}</ion-option>
    </ion-select>
</ion-item>

<app-add-coche #childCoches [lista]="lista" *ngIf="subCatSeleccionada === 'COCHE'"></app-add-coche>
<app-add-moto #childMotos [lista]="lista" *ngIf="subCatSeleccionada === 'MOTO'"></app-add-moto>





<app-add-pc #childPC [lista]="lista" *ngIf="subCatSeleccionada === 'PC'"></app-add-pc>
<app-add-lavadora #childLavadora [lista]="lista" *ngIf="subCatSeleccionada === 'LAVADORA'"></app-add-lavadora>