<ion-row>
    <ion-col col-4 *ngIf="listaIzq.length !== 0">
            <ion-label class="title">Elementos</ion-label>
            <ion-label>Marca: </ion-label>
            <ion-label>Modelo: </ion-label>
            <ion-label>Precio: </ion-label>
            <ion-label>velocidad: </ion-label>
            <ion-label>clasfEnergia: </ion-label>
            <ion-label>tipoCarga: </ion-label>
            <ion-label>capTambor: </ion-label>
            <ion-label>capCarga: </ion-label>
            <ion-label>medidas: </ion-label>
            <ion-label>consumoAgua: </ion-label>
            <ion-label>consumoEnergia: </ion-label>
            <ion-label>frecuencia: </ion-label>
            <ion-label>extra: </ion-label>
    </ion-col>
    <ion-col col-4 *ngIf="listaIzq.length !== 0">
            <ion-label class="title">{{ listaIzq[0].marca? listaIzq[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].marca? listaIzq[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].modelo? listaIzq[0].modelo : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].precio? listaIzq[0].precio : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].velocidad? listaIzq[0].velocidad : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].clasfEnergia? listaIzq[0].clasfEnergia : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].tipoCarga? listaIzq[0].tipoCarga : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].capTambor? listaIzq[0].capTambor : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].capCarga? listaIzq[0].capCarga : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].medidas? listaIzq[0].medidas : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].consumoAgua? listaIzq[0].consumoAgua : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].consumoEnergia? listaIzq[0].consumoEnergia : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].frecuencia? listaIzq[0].frecuencia : 'X' }}</ion-label>
            <ion-label>{{ listaIzq[0].extra? listaIzq[0].extra : 'X' }}</ion-label>
    </ion-col>


    <ion-col col-4 *ngIf="listaDrcha.length !== 0">
            <ion-label class="title">{{ listaDrcha[0].marca? listaDrcha[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].marca? listaDrcha[0].marca : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].modelo? listaDrcha[0].modelo : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].precio? listaDrcha[0].precio : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].velocidad? listaDrcha[0].velocidad : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].clasfEnergia? listaDrcha[0].clasfEnergia : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].tipoCarga? listaDrcha[0].tipoCarga : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].capTambor? listaDrcha[0].capTambor : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].capCarga? listaDrcha[0].capCarga : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].medidas? listaDrcha[0].medidas : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].consumoAgua? listaDrcha[0].consumoAgua : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].consumoEnergia? listaDrcha[0].consumoEnergia : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].frecuencia? listaDrcha[0].frecuencia : 'X' }}</ion-label>
            <ion-label>{{ listaDrcha[0].extra? listaDrcha[0].extra : 'X' }}</ion-label>
    </ion-col>
</ion-row>